/* li {
   background-color:  chartreuse; 
}

li {  
    background-color: chocolate;
}

 li{
    background-color: coral;
 }
 #html{
    background-color: cornflowerblue;
 } 
 .html{
    background-color: blueviolet;
 }
.html.{
    background-color: brown;
  }
  #html{
    background-color: crimson;
  } */